body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #000;
}

.clock {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: left 0.5s, top 0.5s;
}

.time {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ff006e, 0 0 20px #ff006e, 0 0 30px #ff006e;
  padding: 10px;
  transition: color 0.5s, text-shadow 0.5s;
}

.date {
  font-size: 1.2rem;
  text-shadow: 0 0 10px #006ffa, 0 0 20px #006ffa, 0 0 30px #006ffa;
  padding: 10px;
  transition: color 0.5s, text-shadow 0.5s;
}

.copyright {
  margin-top: auto;
  font-size: 0.9rem;
  color: #ccc;
}
